[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Unidecode = "==0.04.16"
"django-oauth2-provider" = "==0.2.6.1"
pycparser = {git = "https://github.com/eliben/pycparser", ref = "release_v2.14"}
alphabet-detector = "==0.0.7"
analytics-python = "==1.2.8"
django-anymail = "==1.0"
django-debug-toolbar = "==1.9.1"
mysqlclient = "==1.3.12"
"boto3" = "==1.4.8"
celery = "==4.1.0"
django-extensions = "==2.0.3"
django-redis = "==4.9.0"
django-redis-sessions = "==0.5.6"
django-storages = "==1.6.5"
djangorestframework = "==3.7.7"
djangorestframework-oauth = "==1.1.0"
djangorestframework-jsonapi = "==2.4.0"
djangorestframework-msgpack = "==1.0.2"
drf-openapi = "==1.3.0"
elasticsearch = "==2.2.0"
facepy = "==1.0.9"
google-api-python-client = "==1.6.7"
google-cloud-speech = "==0.34.0"
hashids = "==1.2.0"
hiredis = "==0.2.0"
invoke = "==0.21.0"
itunes-iap = {git = "https://github.com/youknowone/itunes-iap.git", ref = "cfc51e4c1e3fb1e686adc8c06e3934d8347fc807"}
"oauth2client" = "==4.1.2"
paypalrestsdk = "==1.13.1"
pydub = "==0.20.0"
pydiscourse = "==0.7.0"
"maxminddb-geolite2" = "==2017.803"
pytz = "==2017.2"
python-dateutil = "==2.4"
"psycopg2" = "==2.7.3.1"
raven = "==6.6.0"
requests = "==2.18.4"
statsd = "==3.2.1"
datadog = "==0.16.0"
stripe = "==1.77.1"
transitions = "==0.4.3"
unicodecsv = "==0.14.1"
ujson = "==1.35"
pydash = "==3.4.8"
regex = "==2017.09.23"
social-auth-core = "==1.7.0"
social-auth-app-django = "==2.1.0"
python-social-auth = "==0.3.6"
django-social-auth = "==0.7.28"
uhashring = "==0.8"
fuzzywuzzy = "==0.16.0"
jellyfish = "==0.5.6"
venusian = "==1.1.0"
jsonschema = "==2.6.0"
aws-xray-sdk = "==0.95"
wrapt = "==1.10.11"
polib = "==1.0.8"
frameapp = "==0.0.3"
Babel = "==2.5.1"
Django = "==2.0.3"
uWSGI = "==2.0.15"
Pillow = "==4.3.0"
python-Levenshtein = "==0.12.0"
Markdown = "==2.6.9"
Sphinx = "==1.6.4"

[dev-packages]
coverage = "==4.4.1"
tox = "==2.9.1"
"pep8" = "==1.7.0"
pyflakes = "==1.6.0"
pytest = "==3.4.2"
pytest-cov = "==2.5.1"
pytest-django = "==3.1.2"
pytest-flakes = "==2.0.0"
"pytest-pep8" = "==1.0.6"
python-dotenv = "==0.7.1"
pytest-selenium = "==1.11.1"
behave = "==1.2.5"
django-webtest = "==1.9.3"
mockredispy = "==2.9.3"
requests-mock = "==1.3.0"
selenium = "==3.6.0"
transifex-client = "==0.12.4"
piprot = "==0.9.7"
ipython = "==6.2.1"
sphinx-autobuild = "==0.7.1"
"m2r" = "==0.1.13"
mypy = "==0.530"
tqdm = "==4.19.4"
gspread = "==0.6.2"
fire = "==0.1.2"
termcolor = "==1.1.0"
django-silk = "==2.0.0"
pytest-profiling = "==1.3.0"
WebTest = "==2.0.29"
Faker = "==0.8.3"
factory_boy = "==2.8.1"

[requires]
python_version = "3.6"
